/* PC */
    @media (min-width: 1024px)  {

    }
    /* Tablet */
    @media (min-width: 740px) and (max-width: 1023px){

    }
    /* Mobile */
    @media  (max-width: 740px){
        .s-full-width,
        .s-col-full{
            width: 100% !important ;
        }
        .s-mt-8{
            margin-top: 8px !important;
        }
        #nav > li {
            display: block;
        }
        #header .search-btn{
            display: none;
        }
        #content .menber-img{
            width: 60%;
        }

    }